@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #999999;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
menu {
  padding: 0;
  list-style-type: none;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.main {
  display: flex;
}

.header {
  padding: 0 30px;
  height: 90px;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 30px;
}

.menu__item {
  display: flex;
}

.menu__btn {
  margin-right: 35px;
}

.menu__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #999999;
}

.header__notification {
  margin-right: 90px;
  width: 30px;
  height: 30px;
}

.header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 30px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__pic {
  margin-right: 20px;
}

.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
}

.contacts {
  max-width: 270px;
  background-color: #f2f2f2;
  padding: 30px;
  border-right: 2px solid #eeeeee;
  height: calc(100vh - 90px);
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search__icon {
  margin-right: 25px;
}

.search__input {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  background: none;
  border: none;
}

.contacts__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts__card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__image {
  margin-right: 20px;
}

.contacts__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #808080;
}

.contacts__status {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #b3b3b3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}

.contacts__date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #b3b3b3;
  margin-left: 12px;
}

.content {
  padding: 30px;
  background-color: #f2f2f2;
  width: 100%;
  height: calc(100vh - 90px);
}

.messages {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
}

.messages__info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 20px;
  border-bottom: 2px solid #eeeeee;
  position: relative;
}

.messages__profile {
  position: absolute;
  left: 30px;
}

.messages__icon-back {
  margin-right: 6px;
}

.messages__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}

.dot {
  width: 9px;
  height: 9px;
  background: #2ccc71;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 9px;
}

.messages__list {
  padding: 15px 30px;
  overflow-y: auto;
  height: 100%;
}

.message {
  max-width: 405px;
  margin-bottom: 15px;
}

.message_align_right {
  margin-left: auto;
  justify-content: flex-end;
}

.message__profile {
  margin-right: 25px;
}

.message__profile_align_right {
  margin-right: 0;
  margin-left: 25px;
}

.message__info {
  display: flex;
  align-items: center;
}

.message__info_align_right {
  justify-content: flex-end;
}

.message__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #808080;
  margin-right: 7px;
}

.message__date {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #b3b3b3;
}

.message__text {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  margin-left: 65px;
}

.message__text_align_right {
  margin-left: 0;
  margin-right: 65px;
  background-color: royalblue;
  color: white;
}

.message__image {
  width: 100%;
}

.message__send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-top: 2px solid #eeeeee;
}

.message__input {
  width: 100%;
  background: none;
  border: none;
  margin-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}

.message__plus {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: relative;
}

.message__button {
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.addition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.addition__item {
  display: flex;
  align-items: center;
}

.addition__item-icon {
  width: 25px;
  height: 25px;
}

.addition__item-icon:first-child {
  margin-right: 20px;
}

.addition__title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}
